<section class="about-me-container" id="about-me">
    <div class="profile-picture">
        <div class="aura"></div>
        <img src="../../assets/my-profile.jpeg" alt="Profile Picture" class="animated-profile" />
    </div>

    <div class="bio">
        <h1 class="animated-header">Hi, I'm Muhammad Hamza Sajid</h1>
        <p class="animated-paragraph">
            A versatile Full-Stack Web Developer with expertise in creating cross-platform applications.
            I specialize in Angular, Node.js, NestJS, PostgreSQL, and more. Let's build something amazing together!
        </p>

        <div class="skills">
            <span class="skill-badge">Angular</span>
            <span class="skill-badge">Ionic</span>
            <span class="skill-badge">Nestjs</span>
            <span class="skill-badge">PostgreSQL</span>
            <span class="skill-badge">Node.js</span>
            <span class="skill-badge">MongoDB</span>
            <span class="skill-badge">PouchDB</span>
        </div>

        <button href="../../assets/resume.pdf" target="_blank" class="download-resume-btn"
            (click)="downloadResume()">Download
            Resume</button>
    </div>
</section>