// /* You can add global styles to this file, and also import other style files */
html,
body {
    overflow-x: hidden;
    // overflow-y: scroll;
    scroll-behavior: smooth;
    margin: 0px !important;
    background-color: rgb(14, 13, 13) !important;
}